<!-- Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <div class="col-md-7">
    <h2 class="mb-0 fw-bold">Tasks Dashboard</h2>
    <small class="text-muted">
      Manage and track all system tasks
    </small>
  </div>



  <div class="d-flex justify-content-between col-md-3">
    <div>
      <select class="form-select form-select-sm w-auto" [(ngModel)]="selectedFilter" #filttered (change)="filterTasks(filttered.value)">
        <option value="Unscheduled">Unscheduled</option>
        <option value="Waiting response">Waiting response</option>
        <option value="Testing">Testing</option>
        <option value="Closed">Closed</option>
      </select>
    </div>
    <button class="btn btn-primary shadow-sm" routerLink="./add-edit-feature">
      <i class="fas fa-plus me-2"></i>
      Add task
    </button>
  </div>

</div>

<!-- Statistics -->
<div class="row mb-4">
  <div (click)="filterTasks('All')" class="col-lg-3 col-md-6 mb-3">
    <div class="card border-0 shadow-sm bg-primary text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h3>{{ features.length }}</h3>
            <div>Total Features</div>
          </div>
          <i class="fas fa-layer-group fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

  <div (click)="filterTasks('Completed')" class="col-lg-3 col-md-6 mb-3">
    <div class="card border-0 shadow-sm bg-success text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h3>{{ completedCount }}</h3>
            <div>Completed</div>
          </div>
          <i class="fas fa-check-circle fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

  <div (click)="filterTasks('On Progress')" class="col-lg-3 col-md-6 mb-3">
    <div class="card border-0 shadow-sm bg-warning">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h3>{{ progressCount }}</h3>
            <div>On Progress</div>
          </div>
          <i class="fas fa-spinner fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

  <div (click)="filterTasks('New')" class="col-lg-3 col-md-6 mb-3">
    <div class="card border-0 shadow-sm bg-danger text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h3>{{ newCount }}</h3>
            <div>New Features</div>
          </div>
          <i class="fas fa-star fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Loading -->
<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 300px">

  <div class="spinner-border text-primary" role="status">
  </div>

</div>

<!-- Error -->
<div *ngIf="!isLoading && message" class="alert alert-danger">

  {{ message }}

</div>

<!-- Feature Cards -->
<div *ngIf="!isLoading && features.length">
  <div class="mb-3" *ngFor="let feature of features">
    <div class="card border-0 shadow-sm h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <!-- Left Side -->
          <div class="col-lg-9">
            <div class="d-flex align-items-center mb-2">
              <span class="badge me-3" [ngClass]="{
                'bg-success': feature.status === 'Completed',
                'bg-warning text-dark': feature.status === 'On progress',
                'bg-danger': feature.status === 'New',
                'bg-info': feature.status === 'Testing',
                'bg-secondary': feature.status === 'Unscheduled',
                'bg-dark': feature.status === 'Waiting response' || feature.status === 'Closed',
                
              }">
                {{ feature.status }}
              </span>
              <strong class="text-dark">
                {{ feature.system?.globalSystemName }}
              </strong>
            </div>
            <small class="text-muted d-block mb-1">
              Description
            </small>
            <p class="mb-2">
              {{
              (feature.body?.length ?? 0) > 150
              ? (feature.body | slice:0:150) + '...'
              : feature.body
              }}
            </p>
            <div class="d-flex gap-4">
              <div>
                <small class="text-muted">System</small>
                <div><strong>{{ feature.system?.globalSystemName }}</strong></div>
              </div>
              <div>
                <small class="text-muted">Comments</small>
                <div>
                  <span class="badge bg-primary">
                    {{ feature.comments?.length || 0 }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Side (Buttons) -->
          <div class="col-lg-3 text-end">
            <button class="btn btn-primary me-2" (click)="openEditModal(feature)">
              <c-icon name="cil-pencil"></c-icon>
            </button>
            <button class="btn btn-danger me-2" (click)="confirmDelete(feature)">
              <c-icon name="cil-trash"></c-icon>
            </button>
            <button *ngIf="feature.status === 'Completed'" class="btn btn-warning" (click)="SetStatusClosed(feature.featureId!)">
              <c-icon name="cilCheck"></c-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Empty State -->
<div *ngIf="!isLoading && !features.length" class="card border-0 shadow-sm">
  <div class="card-body text-center py-5">
    <i class="fas fa-folder-open fa-4x text-muted mb-3"></i>
    <h5>No Features Found</h5>
    <p class="text-muted">
      There are no features available yet.
    </p>
  </div>
</div>

<c-modal [(visible)]="showDeleteModal" [size]="'sm'">
  <c-modal-header>Confirm Delete</c-modal-header>
  <c-modal-body>
    Are you sure you want to delete {{ selectedType?.featureId }}?
  </c-modal-body>
  <c-modal-footer>
    <button class="btn btn-secondary" (click)="showDeleteModal = false">Cancel</button>
    <button class="btn btn-danger" (click)="deleteFeature(selectedType)">Delete</button>
  </c-modal-footer>
</c-modal>

<!-- Toaster -->
<c-toaster placement="top-end" class="p-3">
  <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="toastVisible()"
    [autohide]="autoHideToast()" [delay]="3000">
    <c-toast-header>
      Delete!
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" />
    </c-toast-body>
  </c-toast>
</c-toaster>

<!--  Update Feature  -->

<c-modal [(visible)]="showEditModal" [size]="'xl'">
  <c-modal-header class="bg-primary text-white">
    <h5 cModalTitle class="mb-0">
      <i class="fas fa-edit me-2"></i>
      Edit Feature
    </h5>
  </c-modal-header>

  <c-modal-body>

    <!-- Feature Details -->
    <div class="card border-0 shadow-sm mb-4">
      <div class="card-header bg-light">
        <h6 class="mb-0 text-dark">
          <i class="fas fa-info-circle me-2"></i>
          Feature Details
        </h6>
      </div>

      <div class="card-body">
        <div class="row">

          <!-- Body -->
          <div class="col-md-12 mb-3">
            <label class="form-label fw-semibold">
              Description
            </label>
            <textarea rows="5" class="form-control" [(ngModel)]="body" name="body">
            </textarea>
          </div>

          <!-- Status -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-semibold">
              Status
            </label>

            <select class="form-select" [(ngModel)]="status" name="status">

              <option>Unscheduled</option>
              <option>New</option>
              <option>On progress</option>
              <option>Waiting response</option>
              <option>Testing</option>
              <option>Completed</option>

            </select>
          </div>

          <!-- System -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-semibold">
              System
            </label>

            <select class="form-select" [(ngModel)]="globalSystemId" name="globalSystemId">

              <option *ngFor="let system of Systems" [value]="system.globalSystemId">

                {{ system.globalSystemName }}

              </option>

            </select>
          </div>


          <!-- Business -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-semibold">
              Business
            </label>

            <select class="form-select" [(ngModel)]="BusinessId" name="Business">

              <option *ngFor="let bus of Businesses" [value]="bus.business_id">{{bus.business_name}}</option>

            </select>
          </div>

          <!-- Service -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-semibold">
              Service
            </label>

            <select class="form-select" [(ngModel)]="ServiceId" name="Service">

              <option *ngFor="let ser of Services" [value]="ser.service_id">

                {{ ser.description }}

              </option>

            </select>
          </div>

        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="card border-0 shadow-sm mb-4">
      <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h6 class="mb-0 text-dark">
          <i class="fas fa-comments me-2"></i>
          Comments History
        </h6>
        <span class="badge bg-primary">
          {{ comments?.length || 0 }}
        </span>
      </div>
      <div class="card-body" style="max-height: 300px; overflow-y: auto;">
        <div *ngFor="let c of comments" class="position-relative ps-4 mb-4" style="border-left: 2px solid #28ba90;">
          <div class="position-absolute top-0 start-0 bg-primary rounded-circle" style="width:12px;height:12px;">
          </div>
          <div class="card border-start border-4 border-primary">
            <div class="card-body py-2">
              <small class="text-muted">
                <i class="fas fa-user-circle me-1"></i>
                Comment
              </small>
              <div class="mt-2">
                {{ c }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!comments?.length" class="text-center text-muted py-4">
          <i class="fas fa-comment-slash fa-2x mb-2"></i>
          <div>
            No comments available
          </div>
        </div>
      </div>
    </div>

    <!-- Add Comment -->
    <div class="card border-0 shadow-sm">
      <div class="card-header bg-light">
        <h6 class="mb-0 text-dark">
          <i class="fas fa-plus-circle me-2"></i>
          Add New Comment
        </h6>
      </div>
      <div class="card-body">
        <textarea class="form-control mb-3" rows="4" placeholder="Write your comment here..." [(ngModel)]="comment"
          name="comment">
        </textarea>
        <button type="button" class="btn btn-primary" (click)="addComment()">
          <i class="fas fa-paper-plane me-2"></i>
          Add Comment
        </button>
      </div>
    </div>

  </c-modal-body>

  <c-modal-footer class="border-0">

    <button class="btn btn-light px-4" (click)="showEditModal = false">

      <i class="fas fa-times me-2"></i>
      Cancel

    </button>

    <button class="btn btn-success px-4" (click)="updateFeature(selectedFeatureId!)">

      <i class="fas fa-save me-2"></i>
      Save Changes

    </button>

  </c-modal-footer>
</c-modal>