<div class="container my-4">
  <a cButton color="primary" variant="outline" routerLink="../add-edit-Address">
    Add Address
  </a>
</div>


<c-card>
  <c-card-header>
    <strong>Businesses List</strong>
  </c-card-header>

  <c-card-body>
    <table cTable striped hover responsive>
      <thead>
        <tr>
          <th>#</th>
          <th>Line 1</th>
          <th>Line 2</th>
          <th>State</th>
          <th>Post Code</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let one of allAddresses; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ one.line_1 }}</td>
          <td>{{ one.line_2 }}</td>
          <td>{{ one.state }}</td>
          <td>{{ one.post_code }}</td>
          <td>{{ one.city }}</td>
          <td>
            <button cButton color="primary" size="sm">
              <c-icon name="cil-pencil"></c-icon>
            </button>
            <button cButton color="danger" size="sm" class="ms-2">
              <c-icon name="cil-trash"></c-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>