<c-card>
  <c-card-header>
    <strong>Business managment</strong>
  </c-card-header>

  <c-card-body>
    <form [formGroup]="businessForm" (submit)="submit()" cform>
      <c-card>
        <c-card-header>
          <strong>Edit Business</strong>
        </c-card-header>
        <c-card-body>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showBasicInfoForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showBasicInfoForm = !showBasicInfoForm">
                  Basic business Info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div style="padding: 1rem;">
                  <c-row class="mb-3">
                    <c-col md="10">
                      <label class="form-label">Business Name</label>
                      <input cFormControl formControlName="Business_name" type="text" class="form-control"
                        placeholder="name" />
                    </c-col>
                    <c-col md="2">
                      <label class="form-label text-danger">Status</label>
                      <div class="form-check form-switch">
                        <input formControlName="Is_active" class="form-check-input" type="checkbox" />
                        <label class="form-check-label">Active</label>
                      </div>
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <c-col md="6">
                      <label class="form-label">Phone number</label>
                      <input formControlName="Business_phone" cFormControl type="text" class="form-control"
                        placeholder="+966xxxxxxxx" />
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Country</label>
                      <select formControlName="CountryId" (change)="onCountryChange($event)" cSelect
                        class="form-select">
                        <option selected disabled value="">Choose country</option>
                        <option *ngFor="let one of countries" [ngValue]="one.countryId">{{ one.name }}</option>
                      </select>
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="6">
                      <label class="form-label">Website</label>
                      <input formControlName="Business_webSite" cFormControl type="url" class="form-control"
                        placeholder="https://example.com" />
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Email</label>
                      <input formControlName="Business_email" cFormControl type="email" class="form-control"
                        placeholder="info@email.com" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Facebook</label>
                      <input formControlName="Business_fb" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">Instagram</label>
                      <input formControlName="Business_instgram" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">TikTok</label>
                      <input formControlName="Business_tiktok" cFormControl type="text" class="form-control" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Google</label>
                      <input formControlName="Business_google" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">YouTube</label>
                      <input formControlName="Business_youtube" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">WhatsApp</label>
                      <input formControlName="Business_whatsapp" cFormControl type="text" class="form-control" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Logo</label>
                      <input type="file" class="form-control" (change)="onLogoChange($event)" accept="image/*" />
                    </c-col>
                    <c-col md="4">
                      <div class="d-flex justify-content-start mt-4" *ngIf="logoPreview">
                        <img [src]="logoPreview" height="40" width="40" alt="logo" />
                      </div>
                    </c-col>
                  </c-row>
                  <c-row class="mb-4" *ngIf="business">
                    <c-col md="6">
                      <label class="form-label">Business type</label>
                      <div *ngFor="let bt of businessesType">
                        <input type="checkbox" [checked]="BusinessTypesArray.value.includes(bt.business_type_id)"
                          (change)="onBusinessTypeChange($event, bt.business_type_id!)">
                        {{ bt.description }}
                      </div>
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Addresses</label>
                      <div *ngFor="let ad of addresses">
                        <input type="checkbox" [checked]="AddressesArray.value.includes(ad.address_id)"
                          (change)="onAddressChange($event, ad.address_id!)">
                        {{ ad.line_1 }} | {{ ad.line_2 }} | {{ ad.state }} | {{ ad.city }} | {{ ad.post_code }}
                      </div>
                    </c-col>
                  </c-row>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>


          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showAddessForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showAddessForm = !showAddessForm">
                  Addresses info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div>
                  <div class="container card " *ngIf="business">
                    <h5 class="text-info mt-3">New Address ?</h5>
                    <div class="card-body" *ngIf="this.selectedCountry == 'USA'">
                      <c-row class="mb-3">
                        <c-col md="6">
                          <label class="form-label">Line 1</label>
                          <input type="text" class="form-control" [(ngModel)]="Line_1"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Line 1..." />
                        </c-col>
                        <c-col md="6">
                          <label class="form-label">Line 2</label>
                          <input type="text" class="form-control" [(ngModel)]="Line_2"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Line 2..." />
                        </c-col>
                      </c-row>
                      <c-row class="mb-3">
                        <c-col md="6">
                          <label class="form-label">State</label>
                          <select (change)="onStateChange($event)" [(ngModel)]="selectedStateId"
                            [ngModelOptions]="{standalone: true}" cSelect class="form-select">
                            <option selected disabled value="">
                              Choose State</option>
                            <option *ngFor="let one of statesByCountry" [ngValue]="one.stateId">{{ one.name }}</option>
                          </select>
                        </c-col>
                        <c-col md="6">
                          <label class="form-label">City</label>
                          <input type="text" class="form-control" [(ngModel)]="UsCity"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter city..." />
                        </c-col>
                      </c-row>
                      <c-row class="mb-3">
                        <c-col md="6">
                          <label class="form-label">Post Code</label>
                          <input type="text" class="form-control" [(ngModel)]="PostCode"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Post Code..." />
                        </c-col>
                      </c-row>
                    </div>
                  </div>
                  <div class="card-body"
                    *ngIf="this.selectedCountry != 'USA' && this.selectedCountry != '' && business">
                    <c-row class="mb-3">
                      <c-col md="4">
                        <label class="form-label">City</label>
                        <select (change)="onCityChange($event)" [(ngModel)]="selectedCityId"
                          [ngModelOptions]="{standalone: true}" cSelect class="form-select">
                          <option selected disabled value="">Choose City</option>
                          <option *ngFor="let one of citiesByCountry" [ngValue]="one.cityId">{{ one.description }}
                          </option>
                        </select>
                      </c-col>
                      <c-col md="4">
                        <label class="form-label">Area</label>
                        <select [(ngModel)]="selectedAreaId" [ngModelOptions]="{standalone: true}"
                          (change)="onAreaChange($event)" cSelect class="form-select">
                          <option selected disabled value="">Choose Area</option>
                          <option *ngFor="let one of areasByCity" [ngValue]="one.areaId">{{ one.description }}</option>
                        </select>
                      </c-col>
                      <c-col md="4">
                        <label class="form-label">Land Mark</label>
                        <input type="text" class="form-control" [(ngModel)]="landMark"
                          [ngModelOptions]="{standalone: true}" placeholder="Enter land Mark..." />
                      </c-col>
                    </c-row>
                  </div>
                  <div>
                  </div>
                  <div class="m-2 d-flex justify-content-start">
                    <button type="button" class="btn btn-primary mb-4" (click)="addNewAddress()">
                      Add Address
                    </button>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showServicesForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showServicesForm = !showServicesForm">
                  Services info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">

                <!-- Add Service -->
                <div *ngIf="business" class="container card mb-4 mt-4">
                  <h5 class="text-info mt-1">Services</h5>
                  <div class="card-body">

                    <!-- Description -->
                    <div class="mb-3">
                      <label class="form-label">Service Description</label>
                      <input type="text" class="form-control" name="serviceDescription"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="serviceDescription" />
                    </div>

                    <!-- Service Type -->
                    <div class="mb-3">
                      <label class="form-label d-block">Service Type</label>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          name="serviceVisibility" id="public" value="public" [(ngModel)]="serviceVisibility" />
                        <label class="form-check-label" for="public">Public</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          name="serviceVisibility" id="local" value="local" [(ngModel)]="serviceVisibility" />
                        <label class="form-check-label" for="local">Local</label>
                      </div>
                    </div>
                    <div class="mb-1">Choose Icon</div>
                    <div class="row g-2 mb-3 mt-2" style="height: 200px; overflow: auto;">
                      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let icon of icons">
                        <div class="border rounded p-2 text-center h-100 cursor-pointer" (click)="selectIcon(icon)"
                          [ngClass]="{
        'border-primary bg-success': selectedIcon === icon
      }" style="cursor: pointer;">
                          <c-icon [name]="icon" size="l"></c-icon>
                          <div class="small mt-1 text-muted">
                          </div>
                        </div>
                      </div>
                    </div>



                    <!-- Add Button -->
                    <button type="button" class="btn btn-primary" (click)="addService()">
                      Add Service
                    </button>
                  </div>
                  <div class="card" *ngIf="services.length > 0">
                    <div class="card-body">
                      <!-- Services List -->
                      <h6 class="mb-3">Services List</h6>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                          *ngFor="let s of services; let i = index">
                          <div>
                            <strong>{{ s.description }}</strong>
                            <span class="badge bg-secondary ms-2">
                              {{ s.isPublic == true ? 'Public' : 'Local' }}
                            </span>
                            <span *ngIf="s.service_icon" class="ms-2">
                              <c-icon [name]="s.service_icon" size="m"></c-icon></span>
                          </div>

                          <button class="btn btn-sm btn-danger" (click)="removeService(i)">
                            ✕
                          </button>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showActivitiessssForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start"
                  (click)="showActivitiessssForm = !showActivitiessssForm">
                  Activities info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                
              <div *ngIf="Activites && Activites.length > 0" class="m-3">
                <div class="mb-2 text-danger">Activities</div>
                <ul>
                  <li *ngFor="let one of Activites; index as i">
                    {{ one.description }}
                  </li>
                </ul>
              </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
        </c-card-body>
      </c-card>
      <div class="d-flex justify-content-end gap-2 mt-3">
        <button cButton color="secondary" variant="outline">
          Cancel
        </button>
        <button cButton color="primary" type="submit" [disabled]="businessForm.invalid">
          Save
        </button>
      </div>

    </form>
  </c-card-body>
</c-card>