<c-card>
  <c-card-header>
    <strong>Business managment</strong>
  </c-card-header>

  <c-card-body>
    <form [formGroup]="businessForm" (submit)="submit()" cform>

      <div *ngIf="!business" style="padding: 1rem;">
        <c-row class="mb-3">
          <c-col md="10">
            <label class="form-label">Business Name</label>
            <input cFormControl formControlName="Business_name" type="text" class="form-control" placeholder="name" />
          </c-col>
          <c-col md="2">
            <label class="form-label text-danger">Status</label>
            <div class="form-check form-switch">
              <input formControlName="Is_active" class="form-check-input" type="checkbox" />
              <label class="form-check-label">Active</label>
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <c-col md="6">
            <label class="form-label">Phone number</label>
            <input formControlName="Business_phone" cFormControl type="text" class="form-control"
              placeholder="+966xxxxxxxx" />
          </c-col>
          <c-col md="6">
            <label class="form-label">Country</label>
            <select formControlName="CountryId" (change)="onCountryChange()" cSelect class="form-select">
              <option selected disabled value="">Choose country</option>
              <option *ngFor="let one of countries" [ngValue]="one.countryId">{{ one.name }}</option>
            </select>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <c-col md="6" *ngIf="business">
            <label class="form-label">Website</label>
            <input formControlName="Business_webSite" cFormControl type="url" class="form-control"
              placeholder="https://example.com" />
          </c-col>
          <c-col md="6">
            <label class="form-label">Email</label>
            <input formControlName="Business_email" cFormControl type="email" class="form-control"
              placeholder="info@email.com" />
          </c-col>
        </c-row>
        <c-row class="mb-3" *ngIf="business">
          <c-col md="4">
            <label class="form-label">Facebook</label>
            <input formControlName="Business_fb" cFormControl type="text" class="form-control" />
          </c-col>
          <c-col md="4">
            <label class="form-label">Instagram</label>
            <input formControlName="Business_instgram" cFormControl type="text" class="form-control" />
          </c-col>
          <c-col md="4">
            <label class="form-label">TikTok</label>
            <input formControlName="Business_tiktok" cFormControl type="text" class="form-control" />
          </c-col>
        </c-row>
        <c-row class="mb-3" *ngIf="business">
          <c-col md="4">
            <label class="form-label">Google</label>
            <input formControlName="Business_google" cFormControl type="text" class="form-control" />
          </c-col>
          <c-col md="4">
            <label class="form-label">YouTube</label>
            <input formControlName="Business_youtube" cFormControl type="text" class="form-control" />
          </c-col>
          <c-col md="4">
            <label class="form-label">WhatsApp</label>
            <input formControlName="Business_whatsapp" cFormControl type="text" class="form-control" />
          </c-col>
        </c-row>
        <c-row class="mb-3" *ngIf="business">
          <c-col md="4">
            <label class="form-label">Logo</label>
            <input type="file" class="form-control" (change)="onLogoChange($event)" accept="image/*" />
          </c-col>
          <c-col md="4">
            <div class="d-flex justify-content-start mt-4" *ngIf="logoPreview">
              <img [src]="logoPreview" height="40" width="40" alt="logo" />
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4" *ngIf="business">
          <c-col md="6">
            <label class="form-label">Business type</label>
            <div *ngFor="let bt of businessesType">
              <input type="checkbox" [checked]="BusinessTypesArray.value.includes(bt.business_type_id)"
                (change)="onBusinessTypeChange($event, bt.business_type_id!)">
              {{ bt.description }}
            </div>
          </c-col>
          <c-col md="6">
            <label class="form-label">Addresses</label>
            <div *ngFor="let ad of addresses">
              <input type="checkbox" [checked]="AddressesArray.value.includes(ad.address_id)"
                (change)="onAddressChange($event, ad.address_id!)">
              {{ ad.line_1 }} | {{ ad.line_2 }} | {{ ad.state }} | {{ ad.city }} | {{ ad.post_code }}
            </div>
          </c-col>
        </c-row>
      </div>
      <c-card *ngIf="business">
        <c-card-header>
          <strong>Edit Business</strong>
        </c-card-header>
        <c-card-body>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showBasicInfoForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showBasicInfoForm = !showBasicInfoForm">
                  Basic business Info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div style="padding: 1rem;">
                  <c-row class="mb-3">
                    <c-col md="10">
                      <label class="form-label">Business Name</label>
                      <input cFormControl formControlName="Business_name" type="text" class="form-control"
                        placeholder="name" />
                    </c-col>
                    <c-col md="2">
                      <label class="form-label text-danger">Status</label>
                      <div class="form-check form-switch">
                        <input formControlName="Is_active" class="form-check-input" type="checkbox" />
                        <label class="form-check-label">Active</label>
                      </div>
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <c-col md="6">
                      <label class="form-label">Phone number</label>
                      <input formControlName="Business_phone" cFormControl type="text" class="form-control"
                        placeholder="+966xxxxxxxx" />
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Country</label>
                      <select formControlName="CountryId" (change)="onCountryChange()" cSelect class="form-select">
                        <option selected disabled value="">Choose country</option>
                        <option *ngFor="let one of countries" [value]="one.countryId">{{ one.name }}</option>
                      </select>
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="6">
                      <label class="form-label">Website</label>
                      <input formControlName="Business_webSite" cFormControl type="url" class="form-control"
                        placeholder="https://example.com" />
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Email</label>
                      <input formControlName="Business_email" cFormControl type="email" class="form-control"
                        placeholder="info@email.com" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Facebook</label>
                      <input formControlName="Business_fb" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">Instagram</label>
                      <input formControlName="Business_instgram" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">TikTok</label>
                      <input formControlName="Business_tiktok" cFormControl type="text" class="form-control" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Google</label>
                      <input formControlName="Business_google" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">YouTube</label>
                      <input formControlName="Business_youtube" cFormControl type="text" class="form-control" />
                    </c-col>
                    <c-col md="4">
                      <label class="form-label">WhatsApp</label>
                      <input formControlName="Business_whatsapp" cFormControl type="text" class="form-control" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3" *ngIf="business">
                    <c-col md="4">
                      <label class="form-label">Logo</label>
                      <input type="file" class="form-control" (change)="onLogoChange($event)" accept="image/*" />
                    </c-col>
                    <c-col md="4">
                      <div class="d-flex justify-content-start mt-4" *ngIf="logoPreview">
                        <img [src]="logoPreview" height="40" width="40" alt="logo" />
                      </div>
                    </c-col>
                  </c-row>
                  <c-row class="mb-4" *ngIf="business">
                    <c-col md="6">
                      <label class="form-label">Business type</label>
                      <div *ngFor="let bt of businessesType">
                        <input type="checkbox" [checked]="BusinessTypesArray.value.includes(bt.business_type_id)"
                          (change)="onBusinessTypeChange($event, bt.business_type_id!)">
                        {{ bt.description }}
                      </div>
                    </c-col>
                    <c-col md="6">
                      <label class="form-label">Addresses</label>
                      <div *ngFor="let ad of addresses">
                        <input type="checkbox" [checked]="AddressesArray.value.includes(ad.address_id)"
                          (change)="onAddressChange($event, ad.address_id!)">
                        {{ ad.line_1 }} | {{ ad.line_2 }} | {{ ad.state }} | {{ ad.city }} | {{ ad.post_code }}
                      </div>
                    </c-col>
                  </c-row>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>


          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showAddessForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showAddessForm = !showAddessForm">
                  Addresses info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div>
                  <div class="container card " *ngIf="business">
                    <h5 class="text-info mt-3">New Address ?</h5>
                    <div class="card-body" *ngIf="this.selectedCountry == 'USA'">
                      <c-row class="mb-3">
                        <c-col md="6">
                          <label class="form-label">Line 1</label>
                          <input type="text" class="form-control" [(ngModel)]="Line_1"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Line 1..." />
                        </c-col>
                        <c-col md="6">
                          <label class="form-label">Line 2</label>
                          <input type="text" class="form-control" [(ngModel)]="Line_2"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Line 2..." />
                        </c-col>
                      </c-row>
                      <c-row class="mb-3">
                        <c-col md="6" *ngIf="hasStates">
                          <label class="form-label">State</label>
                          <select (change)="onStateChange($event)" id="stateId" [(ngModel)]="selectedStateId"
                            [ngModelOptions]="{standalone: true}" cSelect class="form-select">
                            <option selected disabled value="">
                              Choose State</option>
                            <option *ngFor="let one of statesByCountry" [ngValue]="one.stateId">{{ one.name }}</option>
                          </select>
                        </c-col>
                        <c-col md="6">
                          <label class="form-label">City</label>
                          <input type="text" class="form-control" [(ngModel)]="UsCity"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter city..." />
                        </c-col>
                      </c-row>
                      <c-row class="mb-3">
                        <c-col md="6">
                          <label class="form-label">Post Code</label>
                          <input type="text" class="form-control" [(ngModel)]="PostCode"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Post Code..." />
                        </c-col>
                      </c-row>
                    </div>
                  </div>
                  <div class="card-body"
                    *ngIf="this.selectedCountry != 'USA' && this.selectedCountry != '' && business">
                    <c-row class="mb-3">
                      <c-col md="4">
                        <label class="form-label">City</label>
                        <select (change)="onCityChange()" [(ngModel)]="selectedCityId"
                          [ngModelOptions]="{standalone: true}" cSelect class="form-select">
                          <option selected disabled value="">Choose City</option>
                          <option *ngFor="let one of citiesByCountry" [ngValue]="one.cityId">{{ one.description }}
                          </option>
                        </select>
                      </c-col>
                      <c-col md="4">
                        <label class="form-label">Area</label>
                        <select [(ngModel)]="selectedAreaId" [ngModelOptions]="{standalone: true}"
                          (change)="onAreaChange()" cSelect class="form-select">
                          <option selected disabled value="">Choose Area</option>
                          <option *ngFor="let one of areasByCity" [ngValue]="one.areaId">{{ one.description }}</option>
                        </select>
                      </c-col>
                      <c-col md="4">
                        <label class="form-label">Land Mark</label>
                        <input type="text" class="form-control" [(ngModel)]="landMark"
                          [ngModelOptions]="{standalone: true}" placeholder="Enter land Mark..." />
                      </c-col>
                    </c-row>
                  </div>
                  <div>
                  </div>
                  <div class="m-2 d-flex justify-content-start">
                    <button type="button" class="btn btn-primary mb-4" (click)="addNewAddress()">
                      Add Address
                    </button>
                  </div>
                </div>
                <div>
                  <div *ngIf="addressToShow.length > 0" class="m-3">
                    <div class="mb-2 text-danger">Addresses</div>
                    <div>
                      <ul>
                        <li *ngFor="let addr of addressToShow; index as i">
                          <div *ngIf="addr.countryName == 'USA'" class="d-flex justify-content-between col-12 mb-1">
                            {{ addr.Line_1 }} | {{ addr.Line_2 }} | {{ addr.Statename }} | {{ addr.Us_City }} | {{
                            addr.PostCode }}
                            <button type="button" class="btn btn-sm btn-danger ms-2" (click)="removeAddress(i)">
                              <c-icon name="cil-trash"></c-icon>
                            </button>
                          </div>
                          <div *ngIf="addr.countryName != 'USA'" class="d-flex justify-content-between col-4 mb-1">
                            {{ addr.CityNonUS }} | {{ addr.AreaNonUS }} | {{ addr.LandMark }} | {{ addr.Us_City }}
                            <button type="button" class="btn btn-sm btn-danger ms-2" (click)="removeAddress(i)">
                              <c-icon name="cil-trash"></c-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showServicesForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showServicesForm = !showServicesForm">
                  Services info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div *ngIf="business" class="container card mb-4 mt-4">
                  <div *ngIf="servicesBusiness && servicesBusiness.length > 0" class="m-3">
                    <div class="mb-2 text-danger">Services</div>
                    <ul>
                      <li *ngFor="let one of servicesBusiness; index as i">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                          <div>{{ one.service?.description }}</div>
                          <div><button class="btn btn-sm btn-danger"
                              (click)="removeServiceFromBusiness(one.service_id!, one.business_id!)">
                              ✕
                            </button></div>
                        </div>
                      </li>
                    </ul>
                  </div>


                  <div class="card-body">
                    <!-- Description -->
                    <div class="mb-3">
                      <label class="form-label">Service Description</label>
                      <input type="text" class="form-control" name="serviceDescription"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="serviceDescription" />
                    </div>

                    <!-- Service Type -->
                    <div class="mb-3">
                      <label class="form-label d-block">Service Type</label>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          name="serviceVisibility" id="public" value="public" [(ngModel)]="serviceVisibility" />
                        <label class="form-check-label" for="public">Public</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          name="serviceVisibility" id="local" value="local" [(ngModel)]="serviceVisibility" />
                        <label class="form-check-label" for="local">Local</label>
                      </div>
                    </div>
                    <div class="mb-1">Choose Icon</div>
                    <div class="row g-2 mb-3 mt-2" style="height: 200px; overflow: auto;">
                      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let icon of icons">
                        <div class="border rounded p-2 text-center h-100 cursor-pointer" (click)="selectIcon(icon)"
                          [ngClass]="{
        'border-primary bg-success': selectedIcon === icon
      }" style="cursor: pointer;">
                          <c-icon [name]="icon" size="l"></c-icon>
                          <div class="small mt-1 text-muted">
                          </div>
                        </div>
                      </div>
                    </div>



                    <!-- Add Button -->
                    <button type="button" class="btn btn-primary" (click)="addService()">
                      Add Service
                    </button>
                  </div>
                  <div class="card" *ngIf="services.length > 0">
                    <div class="card-body">
                      <!-- Services List -->
                      <h6 class="mb-3">Services List</h6>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                          *ngFor="let s of services; let i = index">
                          <div>
                            <strong>{{ s.description }}</strong>
                            <span class="badge bg-secondary ms-2">
                              {{ s.isPublic == true ? 'Public' : 'Local' }}
                            </span>
                            <span *ngIf="s.service_icon" class="ms-2">
                              <c-icon [name]="s.service_icon" size="m"></c-icon></span>
                          </div>

                          <button class="btn btn-sm btn-danger" (click)="removeService(i)">
                            ✕
                          </button>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>



          <!-- Activities Info -->
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showActivitiessssForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start"
                  (click)="showActivitiessssForm = !showActivitiessssForm">
                  Activities
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">

                <div *ngIf="Activites && Activites.length > 0" class="m-3">
                  <div class="mb-2 text-danger">Activities</div>
                  <ul>
                    <li *ngFor="let one of Activites; index as i">
                      <div class="d-flex justify-content-between align-items-center mb-1">
                        <div>{{ one.description }}</div>
                        <div *ngIf="one.activity_id"><button class="btn btn-sm btn-danger"
                            (click)="removeActivityFromBusiness(one.activity_id!)">
                            ✕
                          </button></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Add Service -->
                <div *ngIf="business" class="container card mb-4 mt-4">
                  <h5 class="text-info mt-1">Add Activity</h5>
                  <div class="card-body">

                    <!-- Description -->
                    <div class="mb-3">
                      <label class="form-label">Activity Description</label>
                      <input type="text" class="form-control" name="activityDescription"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="activityDescription" />
                    </div>
                    <!-- Add Button -->
                    <button type="button" type="button" class="btn btn-primary" (click)="addActivity()">
                      Add Activity
                    </button>
                  </div>
                  <div class="card" *ngIf="actiivities.length > 0">
                    <div class="card-body">
                      <!-- Activities List -->
                      <h6 class="mb-3">New Activities List</h6>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                          *ngFor="let s of actiivities; let i = index">
                          <div>
                            <strong>{{ s.description }}</strong>
                          </div>

                          <button class="btn btn-sm btn-danger" type="button" (click)="removeActivity(i)">
                            ✕
                          </button>
                        </li>
                      </ul>
                      <button class="mt-2 btn btn-sm btn-danger" type="button" (click)="BindActivitiesWithBusiness()">
                        Save Activities
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>

          <!-- Serving Info -->
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showServingForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showServingForm = !showServingForm">
                  Serving
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div *ngIf="consumerBusinessRelations && consumerBusinessRelations.length > 0" class="m-3">
                  <div class="mb-2 text-danger">Consumered Servings List</div>
                  <ul>
                    <li *ngFor="let one of consumerBusinessRelations; index as i">

                      <div class="d-flex justify-content-between align-items-center mb-1">
                        <div>{{ one.serving.servingName }}</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="groupedProviderRelations.length > 0" class="m-3">
                  <div class="mb-2 text-danger">
                    Provider Servings List
                  </div>
                  <ul>
                    <li *ngFor="let group of groupedProviderRelations">
                      <div class="fw-bold text-primary">
                        {{ group.serving.servingName }}
                      </div>
                      <div class="text-muted mb-2">
                        {{ group.serving.servingDescription }}
                      </div>
                      <ul class="mb-3">
                        <li *ngFor="let business of group.businesses">
                          <div class="mb-1 d-flex justify-content-between align-items-center">
                            <span>
                              {{ business.business_name }}
                            </span>
                            <button class="btn btn-sm btn-outline-danger" type="button"
                              (click)="removeRelation(business.businessRelationId)">
                              X
                            </button>
                          </div>
                        </li>
                      </ul>
                      <hr>
                    </li>
                  </ul>
                </div>
                <!-- Add Service -->
                <div *ngIf="business" class="container card mb-4 mt-4">
                  <h5 class="text-info mt-1">Add Serving</h5>
                  <div class="card-body">
                    <!-- Description -->
                    <div class="mb-3">
                      <label class="form-label">Serving Description</label>
                      <input type="text" class="form-control" name="servingDescription"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="ServingDescription" />
                    </div>
                    <select class="form-controll mb-2" cSelect multiple [(ngModel)]="SelectedBusinesses"
                      [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let business of Businesses" value="{{ business.business_id }}">{{
                        business.business_name }}</option>
                    </select>
                    <!-- Add Button -->
                    <button type="button" class="btn btn-primary" (click)="addServing()">
                      Add
                    </button>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>

          <!-- Customers Info -->
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showCustomersForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showCustomersForm = !showCustomersForm">
                  Customers Business info
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">

                <div *ngIf="business_Owners && business_Owners.length > 0" class="m-3">
                  <div class="mb-2 text-danger">Customers</div>
                  <ul>
                    <li *ngFor="let one of business_Owners; index as i">
                      <div class="d-flex justify-content-between align-items-center mb-1">
                        <strong>{{ one.globalCustomer.customerName }} | {{ one.globalCustomer.customerMobile ?? "Mobile
                          not provided" }} | {{
                          one.globalCustomer.customerEmail ?? "Email not provided" }}</strong>
                        <button class="btn btn-sm btn-outline-danger ms-2" type="button"
                          (click)="removeCustomerFromBusiness(one.buseness_CustomerId)">
                          X
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Add Service -->
                <div *ngIf="business" class="container card mb-4 mt-4">
                  <h5 class="text-info mt-1">Add Customer</h5>
                  <div class="card-body">
                    <!-- here add customer -->
                    <c-row class="mb-3">
                    </c-row>
                    <c-card class="border-0 rounded-4 p-3" style="background: transparent;">
                      <c-card-header class="border-0 pb-0" style="background: transparent;">
                        <h5 class="fw-bold mb-1 text-dark">
                          Add New Customer
                        </h5>
                        <small class="text-medium-emphasis">
                          Fill customer information correctly
                        </small>
                      </c-card-header>
                      <c-card-body class="pt-4">
                        <c-row class="g-4">
                          <!-- Name -->
                          <c-col md="4">
                            <label cLabel class="fw-semibold mb-2">
                              Name
                            </label>
                            <input class="form-control rounded-3" placeholder="Customer name" [(ngModel)]="customerName"
                              [ngModelOptions]="{standalone: true}" />
                          </c-col>
                          <!-- Mobile -->
                          <c-col md="4">
                            <label cLabel class="fw-semibold mb-2">
                              Mobile
                            </label>
                            <input class="form-control rounded-3" placeholder="+1 000 000 000"
                              [(ngModel)]="customerMobile" [ngModelOptions]="{standalone: true}" />
                          </c-col>
                          <!-- Country -->
                          <c-col md="4">
                            <label cLabel class="fw-semibold mb-2">
                              Country
                            </label>

                            <select cSelect class="rounded-3" [(ngModel)]="countryId"
                              [ngModelOptions]="{standalone: true}" (change)="countryChangedForCustomer($event)">

                              <option *ngFor="let one of countries" [value]="one.countryId">

                                {{ one.name }}

                              </option>

                            </select>
                          </c-col>

                          <!-- NON USA -->
                          <ng-container *ngIf="selectedCountryForUser != 'USA' && selectedCountryForUser != null">

                            <!-- City -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                City
                              </label>

                              <select cSelect class="rounded-3" [(ngModel)]="cityId"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="cityChanged($event)">

                                <option *ngFor="let city of cities" [ngValue]="city.cityId">

                                  {{ city.description }}

                                </option>

                              </select>
                            </c-col>

                            <!-- Area -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                Area
                              </label>

                              <select cSelect class="rounded-3" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="areaId">

                                <option *ngFor="let area of areas" [ngValue]="area.areaId">

                                  {{ area.description }}

                                </option>

                              </select>
                            </c-col>

                            <!-- Landmark -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                Landmark
                              </label>

                              <input class="form-control rounded-3" placeholder="Enter landmark" [(ngModel)]="LandMark"
                                [ngModelOptions]="{standalone: true}" />
                            </c-col>
                          </ng-container>
                          <!-- USA -->
                          <ng-container *ngIf="selectedCountryForUser == 'USA'">
                            <!-- Line1 -->
                            <c-col md="6">
                              <label cLabel class="fw-semibold mb-2">
                                Line 1
                              </label>
                              <input class="form-control rounded-3" [(ngModel)]="Line1"
                                [ngModelOptions]="{standalone: true}" />
                            </c-col>
                            <!-- Line2 -->
                            <c-col md="6">
                              <label cLabel class="fw-semibold mb-2">
                                Line 2
                              </label>

                              <input class="form-control rounded-3" [(ngModel)]="Line2 "
                                [ngModelOptions]="{standalone: true}" />
                            </c-col>

                            <!-- State -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                State
                              </label>
                              <select cSelect class="rounded-3" [(ngModel)]="stateId"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let state of states" [ngValue]="state.stateId">
                                  {{ state.name }}
                                </option>

                              </select>
                            </c-col>
                            <!-- Post Code -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                Post Code
                              </label>
                              <input class="form-control rounded-3" [(ngModel)]="PostCode"
                                [ngModelOptions]="{standalone: true}" />
                            </c-col>
                            <!-- US City -->
                            <c-col md="4">
                              <label cLabel class="fw-semibold mb-2">
                                City
                              </label>
                              <input class="form-control rounded-3" [(ngModel)]="UsCity"
                                [ngModelOptions]="{standalone: true}" />
                            </c-col>
                          </ng-container>
                          <!-- Button -->
                          <c-col xs="12" class="text-center mt-4">
                            <button cButton color="primary" class="px-5 py-2 rounded-pill shadow-sm"
                              (click)="AddCustomerToThisBusiness()">
                              <span *ngIf="!addingLoad">
                                Add Customer
                              </span>
                              <c-spinner class="sm" *ngIf="addingLoad">
                              </c-spinner>
                            </button>
                          </c-col>
                        </c-row>
                      </c-card-body>
                    </c-card>
                    <!-- here add custfomer -->
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showUsersForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showUsersForm = !showUsersForm">
                  Users
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="m-2 text-danger">Users</div>
                <div *ngIf="usersBusinesses && usersBusinesses.length > 0" class="m-3">
                  <ul>
                    <li *ngFor="let one of usersBusinesses; index as i">
                      {{ one.userData?.userName }}
                    </li>
                  </ul>
                </div>
                <div *ngIf="usersBusinesses && usersBusinesses.length === 0" class="m-3">
                  No users added to this business yet.
                </div>
                <div class="card">
                  <div class="card-header">
                    Add New User
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="userName" class="form-label">User Name</label>
                      <input type="text" class="form-control" id="userName" [(ngModel)]="userName"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter user name">
                    </div>
                    <div class="mb-3">
                      <label for="Email" class="form-label">User Email</label>
                      <input type="text" class="form-control" id="Email" [(ngModel)]="Email"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter user Email">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Roles</label>
                      <div *ngIf="loadingRoles" class="text-center my-3">
                        <c-spinner color="primary"></c-spinner>
                      </div>
                      <div *ngIf="!loadingRoles" style="height: 100px; overflow-y: auto;">
                        <div *ngFor="let one of Roles" class="form-check">
                          <input type="checkbox" class="form-check-input" [checked]="selectedRoleId.includes(one.name)"
                            (change)="AddRemoveRole(one.name)" />

                          <label class="form-check-label">
                            {{ one.name }}
                          </label>
                        </div>
                      </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary" (click)="addUser()">Add</button>
                    <div *ngIf="message" class="mt-3 alert alert-info">{{ message }}</div>
                  </div>
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>




          <!-- /// -->



          <c-accordion>
            <c-accordion-item #item="cAccordionItem" [visible]="showSystemsForm">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button cAccordionButton class="btn w-100 text-start" (click)="showSystemsForm = !showSystemsForm">
                  Binded Systems
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="m-2 text-danger">Systems</div>
                <div *ngIf="usersBusinesses && usersBusinesses.length > 0" class="m-3">
                  <!-- <ul>
                    <li *ngFor="let one of usersBusinesses; index as i">
                      {{ one.userData?.userName }}
                    </li>
                  </ul> -->
                </div>
                <div *ngIf="usersBusinesses && usersBusinesses.length === 0" class="m-3">
                  No Systems added to this business yet.
                </div>
                <div class="card">
                  <div class="card-header">
                    Bind with System
                  </div>
                  <div class="card border-0 shadow-sm">
                    <div class="card-header bg-light">
                      <strong>Systems</strong>
                    </div>

                    <ul class="list-group list-group-flush">
                      <li *ngFor="let system of systems"
                        class="list-group-item d-flex justify-content-between align-items-center py-3">

                        <label [for]="'system_' + system.globalSystemId" class="d-flex align-items-center mb-0 w-100"
                          style="cursor: pointer;">

                          <i class="fas fa-cog me-2 text-secondary"></i>

                          <span class="fw-medium">
                            {{ system.globalSystemName }}
                          </span>
                        </label>

                        <input [id]="'system_' + system.globalSystemId" [name]="'system_' + system.globalSystemId"
                          type="checkbox" class="form-check-input ms-3"
                          (change)="addRemoveSystem(system.globalSystemId)">
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="card-body">
                    <div class="mb-3">
                      <label for="userName" class="form-label">User Name</label>
                      <input type="text" class="form-control" id="userName" [(ngModel)]="userName"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter user name">
                    </div>
                    <div class="mb-3">
                      <label for="Email" class="form-label">User Email</label>
                      <input type="text" class="form-control" id="Email" [(ngModel)]="Email"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter user Email">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Roles</label>
                      <div *ngIf="loadingRoles" class="text-center my-3">
                        <c-spinner color="primary"></c-spinner>
                      </div>
                      <div *ngIf="!loadingRoles" style="height: 100px; overflow-y: auto;">
                        <div *ngFor="let one of Roles" class="form-check">
                          <input type="checkbox" class="form-check-input" [checked]="selectedRoleId.includes(one.name)"
                            (change)="AddRemoveRole(one.name)" />

                          <label class="form-check-label">
                            {{ one.name }}
                          </label>
                        </div>
                      </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary" (click)="addUser()">Add</button>
                    <div *ngIf="message" class="mt-3 alert alert-info">{{ message }}</div>
                  </div> -->
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>






          <!--  -->




        </c-card-body>
      </c-card>
      <div class="d-flex justify-content-end gap-2 mt-3">
        <button type="button" (click)="resetForm()" cButton color="secondary" variant="outline">
          Cancel
        </button>
        <button cButton color="primary" type="submit" [disabled]="businessForm.invalid">
          Save
        </button>
      </div>
    </form>
  </c-card-body>
</c-card>