<div class="container my-4">
  <a cButton color="primary" variant="outline" routerLink="../add-edit-business">
    Add Business
  </a>
</div>


<c-card>
  <c-card-header>
    <strong>Businesses List</strong>
  </c-card-header>

  <c-card-body>
    <table cTable striped hover responsive>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Country</th>
          <th>Status</th>
          <th>Whatsapp</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let bus of Businesses; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ bus.business_name }}</td>
          <td>{{ bus.country?.name }}</td>
          <td>
            <c-badge color="success" *ngIf="bus.is_active">Active</c-badge>
            <c-badge color="secondary" *ngIf="!bus.is_active">Un active</c-badge>
          </td>
          <td>{{ bus.business_whatsapp }}</td>
          <td>
            <button cButton color="primary" size="sm">
              <c-icon name="cil-pencil"></c-icon>
            </button>
            <button cButton color="danger" size="sm" (click)="toggleLiveDemo(bus.business_id)" class="ms-2">
              <c-icon name="cil-trash"></c-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>



<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Delete item</h5>
    <button (click)="toggleLiveDemo(0)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure to delete this item?</c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo(0)" cButton color="secondary">
      Close
    </button>
    <button cButton color="danger" (click)="delete()" [disabled]="isDeleting">

      <c-spinner *ngIf="isDeleting" size="sm" class="me-2">
      </c-spinner>
      <span *ngIf="!isDeleting">Delete</span>
      <span *ngIf="isDeleting"></span>
    </button>
  </c-modal-footer>
</c-modal>