<!-- <c-card>
  <c-card-body>
    <div class="row g-3">
      <div class="text-center" *ngIf="allAlbums.length === 0">No photos available</div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let img of allAlbums; let i = index">
        <div class="ratio ratio-1x1 rounded overflow-hidden cursor-pointer" (click)="openModal(i)">
          <img [src]="img.imageUrl" class="img-fluid object-fit-cover" alt="photo" />
        </div>
      </div>
    </div>
  </c-card-body>
</c-card>

<c-modal [(visible)]="modalVisible" size="xl" alignment="center">
  <c-modal-header>
    <c-button class="btn-danger" style="cursor: pointer;" color="danger" (click)="deleteImage()"><c-icon name="cil-trash"></c-icon></c-button>
    <c-button color="secondary" style="cursor: pointer;" class="ms-auto" (click)="closeModal()">X</c-button>
  </c-modal-header>
  <c-modal-body class="text-center">
    <img [src]="allAlbums[currentIndex]?.imageUrl" class="img-fluid" style="max-height: 70vh; object-fit: contain;" />
  </c-modal-body>
  <c-modal-footer class="justify-content-between">
    <c-button style="cursor: pointer;" color="primary" (click)="prevImage()" [disabled]="allAlbums.length <= 1">Prev</c-button>
    <c-button style="cursor: pointer;" color="primary" (click)="nextImage()" [disabled]="allAlbums.length <= 1">Next</c-button>
  </c-modal-footer>
</c-modal> -->

<c-card>
  <c-card-body>

    <!-- عرض المجلدات -->
    <div *ngIf="selectedFolderId === null">
      <div class="row g-3">
        <div class="text-center" *ngIf="groupedAlbums.length === 0">
          No folders available
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let folder of groupedAlbums">

          <div class="ratio ratio-1x1 rounded overflow-hidden cursor-pointer border"
            (click)="openFolder(folder.folderId)">

            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <div style="font-size:40px;">📁</div>
              <div>folder{{folder.folderId}}</div>
              <small>{{folder.images.length}} images</small>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- عرض الصور داخل المجلد -->
    <div *ngIf="selectedFolderId !== null">

      <c-button color="secondary" (click)="goBack()">Back</c-button>

      <div class="row g-3 mt-2">

        <div class="text-center" *ngIf="folderImages.length === 0">
          No photos available
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let img of folderImages; let i = index">

          <div class="ratio ratio-1x1 rounded overflow-hidden cursor-pointer" (click)="openModal(i)">

            <img [src]="img.imageUrl" class="img-fluid object-fit-cover" alt="photo" />
          </div>

        </div>
      </div>

    </div>

  </c-card-body>
</c-card>


<!-- Modal -->
<c-modal [(visible)]="modalVisible" size="xl" alignment="center">
  <c-modal-header>
    <c-button class="btn-danger" color="danger" (click)="deleteImage()">
      <c-icon name="cil-trash"></c-icon>
    </c-button>
    <c-button color="secondary" class="ms-auto" (click)="closeModal()">X</c-button>
  </c-modal-header>

  <c-modal-body class="text-center">

<image-cropper
  [imageBase64]="currentImageBase64"
  [maintainAspectRatio]="false"
  [resizeToWidth]="800"
  [canvasRotation]="rotation"
  [transform]="{ scale: zoom }"
  format="png"
  (imageCropped)="onImageCropped($event)">
</image-cropper>

<c-button style="font-size: 20px;" class="btn btn-sm rounded bg-success m-1" (click)="zoomIn()">+</c-button>&nbsp; &nbsp;
<c-button style="font-size: 20px;" class="btn btn-sm rounded bg-success" (click)="zoomOut()">-</c-button>

  </c-modal-body>

  <c-modal-footer class="justify-content-between">
    <c-button color="primary" (click)="prevImage()" [disabled]="folderImages.length <= 1">Prev</c-button>
    <c-button color="primary" (click)="nextImage()" [disabled]="folderImages.length <= 1">Next</c-button>
    <c-button color="secondary" (click)="rotateImage()">Rotate</c-button>
    <c-button color="success" (click)="saveCroppedImage()">Save</c-button>
  </c-modal-footer>
</c-modal>
