<div class="fs-4 mb-2 fw-semibold">
  My Businesses
</div>

<c-row class="g-4">

  <c-col *ngFor="let business of businesses" sm="6" xl="3">
    <c-widget-stat-a class="bg-light bg-opacity-50 bg-cover bg-center"
      [color]="business.business_id === currentBusinessId ? 'primary' : 'secondary'" [title]=""
      [style.background-image]="'url(' + business.business_LogoUrl + ')'"
      style="padding: 20px; background-size: cover; background-position: center;">
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end">
          <button [caret]="false" cButton cDropdownToggle class="btn btn-sm btn-light rounded-circle p-1 shadow-sm"
            aria-label="Business options">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li>
              <button cDropdownItem type="button" (click)="selectBusiness(business)">
                Set as Current
              </button>
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span class="fw-bold text-dark">
          {{ !business.business_LogoUrl ? business.business_name : '' }} </span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart height="80" type="line" />
      </ng-template>


    </c-widget-stat-a>

  </c-col>

</c-row>