<div class="m-2 p-2 d-flex justify-content-between align-items-center">
  <button class="btn btn-primary" routerLink="./add-edit-user">
    Add
  </button>
</div>
<div class="card">
  <div class="card-header">
    Users
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 150px;">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!isLoading && message" class="alert alert-danger">{{ message }}</div>
    <table *ngIf="Users.length > 0" class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of Users; index as i">
          <td>{{ i + 1 }}</td>
          <td style="cursor: pointer;" (click)="toggleLiveDemo(type)">{{ type.userName }}</td>
          <td>{{ type.email }}</td>
          <td>{{ type?.userPassword }}</td>
          <td>
            <ng-container *ngIf="Users.length">
              <button class="btn btn-sm btn-primary me-1" [routerLink]="['./add-edit-user']"
                [queryParams]="{ user: type | json }">
                <c-icon name="cil-pencil"></c-icon>
              </button>
              <button class="btn btn-sm btn-danger" (click)="confirmDelete(type)">
                <c-icon name="cil-trash"></c-icon>
              </button>
              <button class="btn btn-sm btn-success ms-1" routerLink="./bind-user-to-business"
               [queryParams]="{ userId: type.id, userName: type.userName, email: type.email }">
                <c-icon name="cilLink"></c-icon>&nbsp;<c-icon name="cilBold"></c-icon>
              </button>
            </ng-container>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<c-modal [(visible)]="showDeleteModal" [size]="'sm'">
  <c-modal-header>Confirm Delete</c-modal-header>
  <c-modal-body>
    Are you sure you want to delete {{ selectedType?.userName }}?
  </c-modal-body>
  <c-modal-footer>
    <button class="btn btn-secondary" (click)="showDeleteModal = false">Cancel</button>
    <button class="btn btn-danger" (click)="deleteUser(selectedType)">Delete</button>
  </c-modal-footer>
</c-modal>

<!-- Toaster -->
<c-toaster placement="top-end" class="p-3">
  <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="toastVisible()"
    [autohide]="autoHideToast()" [delay]="3000">
    <c-toast-header>
      Delete!
    </c-toast-header>
    <c-toast-body>
      <p>{{ toastMessage() }}</p>
      <c-progress thin [value]="percentage()" />
    </c-toast-body>
  </c-toast>
</c-toaster>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>User Roles:</h5>
    <button (click)="toggleLiveDemo(User)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ul>
      <li *ngFor="let role of reoles;index as i">{{ role }}</li>
    </ul>
  </c-modal-body>
  <c-modal-footer>
  </c-modal-footer>
</c-modal>