<!-- add-business-type.component.html -->
<div class="card">
  <div class="card-header">
    {{!serviceToEdit ? 'Add Service' : 'Edit Service'}}
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="description"
        placeholder="Enter Country Name">
    </div>
    <div class="mb-3">
      <label class="form-label d-block">Service Type</label>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="visibility" id="public" value="public"
          [(ngModel)]="visibility" />
        <label class="form-check-label" for="public">Public</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="visibility" id="local" value="local"
          [(ngModel)]="visibility" />
        <label class="form-check-label" for="local">Local</label>
      </div>
    </div>
    <div class="mb-1">Choose Icon</div>
          <div class="row g-2 mb-3 mt-2" style="height: 200px; overflow: auto;">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let icon of icons">
              <div class="border rounded p-2 text-center h-100 cursor-pointer" (click)="selectIcon(icon)" [ngClass]="{
        'border-primary bg-success': selectedIcon === icon
      }" style="cursor: pointer;">
                <c-icon [name]="icon" size="l"></c-icon>
                <div class="small mt-1 text-muted">
                </div>
              </div>
            </div>
          </div>

    <hr/>

    <div class="mb-3" style="height: 100px; overflow-y: scroll;">
      <label class="form-label d-block">Activities</label>

      <div class="form-check" *ngFor="let act of activities">
        <input class="form-check-input" type="checkbox" [id]="'act-' + act.activity_id"
          [checked]="selectedActivityIds.includes(act.activity_id!)"
          (change)="toggleActivity(act.activity_id!, $event)" />

        <label class="form-check-label" [for]="'act-' + act.activity_id">
          {{ act.description }}
        </label>
      </div>
    </div>
<hr/>
    <div class="mb-3" style="height: 100px; overflow-y: scroll;">
      <label class="form-label d-block">Businesses</label>

      <div class="form-check" *ngFor="let one of businesses">
        <input class="form-check-input" type="checkbox" [id]="'bus-' + one.business_id"
          [checked]="selectedBusinessIds.includes(one.business_id!)"
          (change)="toggleBusiness(one.business_id!, $event)" />

        <label class="form-check-label" [for]="'bus-' + one.business_id">
          {{ one.business_name }}
        </label>
      </div>
    </div>

    <button [disabled]="loading" class="btn btn-primary" (click)="addService()">{{!serviceToEdit ? 'Add' :
      'Edit'}}</button>
    <div *ngIf="message" class="mt-3 alert alert-info">{{ message }}</div>
  </div>
</div>